<div class="container-fluid" style="background-image: url(../../assets/mapa.PNG);width: 100%; height: 450px;padding-top: 50px;">
    <h1 class="text-lg-center p-b-1 m-b-1" style=" font-family: bariol_bold; color: rgb(0, 0, 0); text-align: center; margin-top: 5%;">Conoce Mensajero</h1>
    <pre>
MensajeroApp es la mejor forma de moverse por la Ciudad Blanca, además solucionamos tus necesidades de envíos,
compras, pagos, trámites, encargos o lo que necesites,
conectándote con personas disponibles en minutos.
      </pre>
  </div>
  <div class="container" style="text-align: center;">
      <h1 class="text-lg-center p-b-1 m-b-1" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); margin-top: 50px; text-align: center">¿Qué necesitas hoy?</h1>
          <div class="row justify-content-md-center" style="max-width: 100%; margin-top: 50px; text-align: center">
            <div class="col">
                <div class="card shadow" style="width: 18rem; margin-bottom: 30px;">
                    <img src="../../../assets/carro.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Vas a algún lado?</h3>
                      <p class="card-text">Pide un MensajeroGo para que llegue por ti y te lleve a destino con solo tocar un botón.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                <div class="card shadow" style="width: 18rem; margin-bottom: 30px;">
                    <img src="../../assets/comida.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Domicilios</h3>
                      <p class="card-text">Pide un MensajeroBike y te llevará la comida de tu restaurante favorito, o también si sólo quieres algo de la 
                        tienda  :D
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col">
                <div class="card shadow" style="width: 18rem; margin-bottom: 30px;">
                    <img src="../../assets/docs.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Documentos</h3>
                      <p class="card-text">Envío de cartas personales, documentos confidenciales.</p>
                    </div>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                <div class="card shadow" style="width: 18rem; margin-bottom: 30px;">
                    <img src="../../assets/Captura.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Encomiendas</h3>
                      <p class="card-text">Comprar las boletas del concierto, recoger llaves olvidadas, hacer fila para el banco o lo que necesites.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                <div class="card shadow" style="width: 18rem; margin-bottom: 30px;">
                    <img src="../../assets/pagos.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Pagos</h3>
                      <p class="card-text">De facturas, servicios públicos, productos.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                <div class="card shadow" style="width: 18rem; margin-bottom: 30px;">
                    <img src="../../assets/otros.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Otras</h3>
                      <p class="card-text">¿Tienes un pedido único? Pídelo y déjanos hacer tu vida más fácil.</p>
                    </div>
                  </div>
                </div>
          </div>
  </div>

