<div class="container"style="padding-top: 50px;">
    <div class="container-fluid justify-content-center">
      <h1 class="text-lg-center p-b-1 m-b-1" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Conduce con Mensajero Bike</h1>
    </div>
    <div class="container-fluid">
      <h3 class="text-lg-left p-b-1 m-b-1" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: left">Porqué deberías hacerlo?</h3>
      <ul>
          <li>Enfocada en la rentabilidad del conductor</li>
          <li>Conduce sólo cuando tú quieras, sé tu propio jefe</li>
          <li>Soporte 24/7 en todos tus viajes</li>
          <li>La comisión más baja por viaje, sólo el 5%</li>
          <li>Descarga la aplicación de los conductores Mensajero Bike en la <a href="https://play.google.com/store/apps/details?id=mensajero.mensajerobike" target="_blank">Play Store.</a></li>
        </ul>
        <h3 class="text-lg-left p-b-1 m-b-1" style="font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: left">Guía del conductor</h3>
        <pre>
<strong>Guía del conductor moto</strong>

<strong>- Cómo prestar un buen servicio.</strong>


-Brindar a los pasajeros trato amable y cortes.
-Llamar al usuario para confirmar su servicio. 
-Mantener el respeto a los pasajeros.
-Desarrollar su trabajo con vestimenta adecuada y limpia.
-Mantener en Optimas condiciones su moto.
-Mantener la cordura y respeto a los compañeros de trabajo.
-Respetar las normas de transito.
-Para finalizar recuerde que debemos manejar con serenidad el buen sentido de la cortesia. Al saludar, debemos mostrar una sonrisa. Debemos caracterizarnos por la seguridad, comodidad, puntualidad, continuidad, higiene, amabilidad. y respeto.


<strong>- Razones por las que Mensajero puede bloquear tu cuenta</strong>

Mensajero hará un bloqueo temporal o definitivo al comprobar que los conductores estén cometiendo las siguientes faltas.

• Cobrar tarifa diferente a la estipulada. 
• Utilizar un vehículo diferente al registrado.
• El usuario evaluara, La calidad del servicio mediante la calificación y reportes. 
• Prestar el vehículo registrado para que otra persona conduzca con su usuario. 
• Cancelar los servicios asignados.
• Faltar al respeto a un usuario.
• Incitar al usuario a usar otras plataformas deferentes a Mensajero

<strong>Seguridad</strong>

- Respetar las normativas de tráfico.
- Tener SOAT siempre vigente.


<strong>Cuánto y cómo debo pagar.</strong>

- Puedes agregar desde 10000COP a tu saldo 
- La comisión por viaje es del 15% de cada servicio realizado por medio de la app.
        </pre>
    </div>
  </div>
