<div class="container" style="padding-top: 50px;">
  <div class="container-fluid justify-content-center">
    <h1 class="text-lg-center p-b-1 m-b-1" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: center">Conduce con Mensajero Go</h1>
  </div>
  <div class="container-fluid">
    <h3 class="text-lg-left p-b-1 m-b-1" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: left">Porqué deberías hacerlo?</h3>
    <ul>
        <li>Enfocada en la rentabilidad del conductor</li>
        <li>Conduce sólo cuando tú quieras, sé tu propio jefe</li>
        <li>Soporte 24/7 en todos tus viajes</li>
        <li>La comisión por viaje es del 8%</li>
        <li>Con Mensajero Go ganas sin conducir!. Invita usuarios con tu codigo de referido y ganarás el 4% de todos los viajes que realice ese usuario DE POR VIDA.
           Eso si es ser socio de verdad eh!!! Entra a la app para ver tu codigo de referido. <a routerLink="../referidos-go"> más información</a></li>
        <li>Puedes agregar alertas en el mapa o compartir servicios que no puedas tomar. De igual manera podrás realizarlos y sin pagar comision por ellos</li>
        <li>Descarga la aplicación de los conductores Mensajero Go en la <a href="https://play.google.com/store/apps/details?id=mensajero.mensajerogo" target="_blank">Play Store.</a></li>
      </ul>
      <h3 class="text-lg-left p-b-1 m-b-1" style=" font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: left">Mira como funciona!</h3>
      <div class="embed-responsive embed-responsive-21by9 shadow">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/emRK15qHHD8"></iframe>
        </div>
      <h3 class="text-lg-left p-b-1 m-b-1" style="margin-top: 20px;font-family: bariol_bold; color: rgba(49, 53, 53, 0.623); text-align: left">Guía del conductor</h3>
      <pre>
<strong>- Cómo prestar un buen servicio</strong>


-Brindar a los pasajeros trato amable y cortes.
-Llamar al usuario para confirmar su servicio. 
-Mantener el respeto a los pasajeros.
-Desarrollar su trabajo con vestimenta adecuada y limpia.
-Mantener en Optimas condiciones su vehículo.
-Mantener la cordura y respeto a los compañeros de trabajo.
-Respetar las normas de transito.
-Para finalizar recuerde que debemos manejar con serenidad el buen sentido de la cortesia. Al saludar, debemos mostrar una sonrisa. Debemos caracterizarnos por la seguridad, comodidad, puntualidad, continuidad, higiene, amabilidad. y respeto.

<strong>Comodidad del usuario</strong>

- Preguntar al usuario que tipo de música desea escuchar.
- Preguntar al usuario si el volumen es adecuado para el.
- Procurar tener encendido el bluetooth, para que el usuario escuche su música favorita.
- Evitar los olores desagradables o manchas al interior del vehículo.
- Mantener en buen estado tu vehículo.

<strong>- Razones por las que Mensajero puede bloquear tu cuenta</strong>

Mensajero hará un bloqueo temporal o definitivo al comprobar que los conductores estén cometiendo las siguientes faltas.

• Cobrar tarifa diferente a la estipulada. 
• Utilizar un vehículo diferente al registrado.
• El usuario evaluara, La calidad del servicio mediante la calificación y reportes. 
• Prestar el vehículo registrado para que otra persona conduzca con su usuario. 
• Cancelar los servicios asignados.
• Faltar al respeto a un usuario.
• Incitar al usuario a usar otras plataformas deferentes a Mensajero

<strong>Seguridad</strong>
- Solicitar al usuario el uso del cinturón de seguridad
- Respetar las normativas de tráfico.
- Tener SOAT siempre vigente.


<strong>Cuánto y cómo debo pagar</strong>

- Para iniciar se hará un corte mensual cada 1er día de mes.
- La comisión por viaje es del 15% de cada servicio realizado por medio de la app.
- El conductor podrá pagar o retirar si su saldo es superior a 20000COP.
- El pago lo podrá realizar mediante consignación, transferencia virtual o en efectivo y 
en la cuenta de cobro se le enviará los medios de pago e información para los mismos.

<strong>¿Cómo cobro los servicios realizados con bonos?</strong>

- Los servicios que realices en los cuales el usuario tenga bonos se cargarán a tu saldo y los 
podrás cobrar si tu saldo a favor supera los 20.000COP.

- Mensajero entrega bonos a usuarios por medios físicos y electrónicos para que sean redimidos en la app.
Por ningún motivo el conductor debe recibir bonos físicamente, éstos deben ser redimidos dentro de la aplicación del usuario y sólo se verá reflejado al finalizar el viaje en la app del conductor.
      </pre>
  </div>
</div>
