@font-face{
    font-family:bariol;
    src: url(../../../../../assets/bariol.ttf) format("truetype"); 
    font-family:bariol_bold;
    src: url(../../../../../assets/bariol_bold.otf) format("opentype"); 
}