<div id="router">
    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue" >
        <div class="container" style="max-height: 100%; text-align: center;">
            <div class="row" >
                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                        <ul class="social">
                            <span>Social</span>    
                            <li>
                                <a href="https://www.facebook.com/mensajero.co"  target="_blank"><fa name = "facebook" ></fa></a>
                                
                            </li>
                            
                            <li>
                                <a href="https://www.youtube.com/channel/UCcrVKUM1CsdH1t8oqLdBNlg"  target="_blank"><fa name = "youtube" ></fa></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <ul class="contact">
                                    <span>Legal</span>    
                                    <li>
                                    <a routerLink="home/privacidad"> Privacidad</a>
                                    </li>      
                                    <li>
                                        <a routerLink="home/terminos-y-condiciones"> Términos y condiciones</a>
                                    </li>    
                                    <li>
                                        <a routerLink="home/mision"> Misión - Visión</a>
                                    </li>   
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="contact">
                            <span>Descargas</span>   
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.mensajero.equipo.mensajero" target="_blank">Mensajero </a>
                                <a href="https://play.google.com/store/apps/details?id=com.mensajero.equipo.mensajero" target="_blank"> Descarga la app del usuario</a>
                                </li> 
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=mensajero.mensajerogo" target="_blank">Mensajero Go</a>
                                <a href="https://play.google.com/store/apps/details?id=mensajero.mensajerogo" target="_blank"> Gana dinero con tu carro</a>
                                </li>
                                    
                                <li>
                                <a href="https://play.google.com/store/apps/details?id=mensajero.mensajerobike" target="_blank">Mensajero Bike</a>
                                <a href="https://play.google.com/store/apps/details?id=mensajero.mensajerobike" target="_blank"> Gana dinero con tu moto</a>
                                </li>
                        </ul>
                    </div>
                            
                
                </div> 
            </div>
</footer>
<!-- Footer -->
<!-- Copyright -->
<div class="footer-copyright text-center py-3" style = "background-color: #0c1418c0; color: #0c1418c9; font-family: bariol">© 2017-2019 Copyright:
    <a href="#" style = "color: aqua;"> MensajeroApp.co</a>
</div>
<!-- Copyright -->   