
<div class="container">
<div class="row" style="justify-content: center; width: 100%; padding-top: 10%; padding-bottom: 10%;">
      <div class="col" style = "min-width: 300px;">
        <div class="">
        <h1 style ="text-align: left; color: rgba(0, 0, 0, 0.616)"><strong>Nuestra Misión</strong></h1>
        <pre>
Conectamos perfectamente a los usuarios con los mensajeros mediante nuestra plataforma.
batimos récords en viajes y entregas. Brindamos un servicio de calidad y seguridad
a precios razonables, sin importar el clima. Sin tarifas dinamicas.
        </pre>
      </div>
    </div>
      <div class="col" style = "min-width: 300px; color: rgba(0, 0, 0, 0.616)">
          <div class="">
          <h1 style ="text-align: left;"><strong>Nuestra Visión</strong></h1>
        <pre>
Vamos a ser el servicio de transporte compartido y mensajería mas utilizado en Popayán,
brindando rapidez, confianza y seguridad a nuestros clientes,
expandiéndonos al resto del país.
        </pre>
      </div>
      </div>
    </div>
  </div>
