<pre>
PRIVACIDAD DE DATOS

Cuando usas MENSAJERO, nos confía su información. Nos comprometemos a mantener esa confianza. Para esto, comenzaremos ayudándolo a comprender nuestras prácticas de privacidad.

En esta Política se describe la información que recopilamos, cómo se usa y se comparte, y cuáles son sus opciones con respecto a esta. Le recomendamos que lea este documento, así como la Descripción de privacidad, que destaca los puntos clave sobre nuestras prácticas de privacidad (incluyendo el tipo de información que recopilamos, dónde lo hacemos y cómo la usamos).

Recolección y usos de los datos

ALCANCE

Resumen:

La presente política se aplica a los usuarios de los servicios de MENSAJERO en cualquier parte , incluso los usuarios de las apps, sitios web, funciones u otros servicios de MENSAJERO.

Esta política describe cómo MENSAJERO y sus afiliados recopilan y usan información personal para brindar los servicios. Se aplica a todos los usuarios de nuestras apps, sitios web, funciones u otros servicios en cualquier parte de Colombia, a menos que se encuentren bajo una política de privacidad diferente, como la Política de privacidad de MENSAJERO. Esta política se aplica específicamente a los siguientes:

Usuarios: Personas que viajan
Mensajeros Conductores: Personas que prestan servicios de movilidad individualmente.
Clientes: Personas que ordenan comida u otros artículos, domicilios, trámites compras etc...
Mensajeros Repartidores: Personas que brindan servicios de entrega a domicilio.

Esta política también se aplica a aquellos que proporcionan información a MENSAJERO a través de una app para usar nuestros servicios o aquellos cuya información se envía a MENSAJERO en relación con sus servicios (como la información de contacto de individuos asociados a los Restaurantes Socios de MENSAJERO). A los fines de esta política, se implementará la palabra “usuarios” para referirse a todas aquellas personas sujetas a ella.

Las prácticas descritas están sujetas a las leyes aplicables de los lugares donde operan, lo que significa que solo participamos en las prácticas definidas en esta política, o en un país o región en particular si lo permiten las leyes de estos. Comuníquese con nosotros si tiene preguntas sobre nuestras prácticas.

LA INFORMACION QUE REUNIMOS

Resumen

MENSAJERO recopila lo siguiente:

La información que le proporciona a MENSAJERO, por ejemplo cuando crea una cuenta.
La información que se crea cuando usa nuestros servicios, como la ubicación, el uso y los datos del dispositivo.
La información de otras fuentes, por ejemplo, Socios de MENSAJERO y terceros que usan las APP de MENSAJERO.

MENSAJERO o un representante recopila la siguiente información:

Datos que usted brinda
Ejemplos:

Perfil de usuario: Recolectamos sus datos cuando crea o actualiza una cuenta MENSAJERO. Esto puede incluir su nombre, correo electrónico, número de teléfono, nombre de usuario y contraseña, dirección, información de pago o bancaria (como la información relacionada para la verificación de pagos), números de identificación oficial (como número de seguro social, licencia de conducir o pasaporte si así lo exige la ley), fecha de nacimiento, foto y firma, información sobre el vehículo o el seguro de los Socios Conductores, y la configuración y preferencias que indique en su cuenta MENSAJERO.

Información de la verificación de antecedentes: Puede que recopilemos estos datos si se registra para usar los servicios de MENSAJERO como Mensajero Conductor o Mensajero Repartidor, por ejemplo, su historial de conducción o antecedentes penales (si la ley lo permite). Un proveedor puede recopilar esta información en representación de MENSAJERO.

Datos demográficos: Es posible que recolectemos estos datos suyos, incluso, de encuestas de usuarios. En algunos países, también puede que recibamos información demográfica suya de terceros.

Contenido del usuario: Es posible que recopilemos los datos que envía al contactar a soporte, calificar o enviar reconocimientos a otros, o de cualquier otra comunicación que mantenga con MENSAJERO.

Información creada al usar nuestros servicios
Ejemplos:

Ubicación

Dependiendo de los servicios MENSAJERO que use, y la configuración de la app o los permisos del dispositivo, podemos recopilar los datos de su ubicación exacta o aproximada, que se obtiene a través de servicios como GPS, dirección IP y wi-fi.

-Si es un Mensajero Conductor o Mensajero Repartidor, MENSAJERO recopila los datos de su ubicación cuando la app se ejecuta en primer plano (app abierta y en pantalla) o en segundo plano (app abierta, pero no en pantalla) en su dispositivo.

-Si es un usuario y autorizó el procesamiento de los datos de ubicación, MENSAJERO los recopilará cuando la app se ejecute en primer plano. En ciertas regiones MENSAJERO también recopila esta información cuando la app se ejecuta en segundo plano si dio su consentimiento a través de la configuración de la app o los permisos del dispositivo.

Los usuarios y clientes pueden usar la app sin permitir a MENSAJERO recopilar los datos de ubicación. Sin embargo, esto puede afectar su funcionamiento. P. ej., si no quiere permitir que MENSAJERO recolecte sus datos de ubicación, deberá ingresar la dirección del punto de partida manualmente. Además, recopilaremos los datos de ubicación del Menasjero Conductor durante el viaje y se vincularán con su cuenta, incluso, cuando la opción no esté activada.

Información de uso

Recopilamos información sobre cómo interactúa con nuestros servicios, como la fecha y hora de acceso, funciones de la app o páginas visitadas, fallas de la app y otras actividades en el sistema, tipo de navegador, y sitios o servicios de terceros que usó antes de interactuar con nuestra plataforma. En algunos casos recopilamos esta información a través de cookies, píxeles de seguimiento y tecnologías similares que crean y mantienen identificadores únicos.

Información del dispositivo

MENSAJERO puede recopilar información sobre los dispositivos que usa para acceder a nuestros servicios, como modelos de hardware, dirección IP del dispositivo, sistemas operativos y sus versiones, softwares, nombres de archivos y sus versiones, idiomas preferidos, identificadores únicos del dispositivo, identificadores de publicidad, números de serie, información sobre el movimiento del dispositivo e información sobre la red móvil.

Datos de comunicación

Permitimos a los usuarios comunicarse entre ellos y con MENSAJERO a través de las apps, sitios web y otros servicios. Por ejemplo, los Mensajeros Conductores y usuarios, y los Mensajeros Repartidores y clientes pueden comunicarse o enviarse SMS entre ellos (en algunos países, sin ver los números de teléfono del otro). Para brindar este servicio, recibimos cierta información sobre las llamadas o SMS, incluyendo la fecha y hora de la comunicación y el contenido de esta. MENSAJERO también puede usar esta información para los servicios de soporte al cliente (incluida la resolución de conflictos entre los usuarios), con fines de seguridad y protección, para mejorar nuestros productos y servicios, y para análisis.

Información de otras fuentes

Ejemplos:

Comentarios del usuario, como calificaciones o reconocimientos:

-Usuarios que proporcionen información sobre usted en relación con los programas de referidos.
-Usuarios que pidan servicios por usted o en representación suya.
-Usuarios u otras personas que proporcionen información en relación con reclamos o conflictos.
-Socios comerciales de MENSAJERO a través de los cuales crea o accede a su cuenta MENSAJERO , como proveedores de pago, servicios de redes sociales, apps o sitios web que usen API de MENSAJERO.
-Proveedores de seguro (si es un Mensajero Conductor o Mensajero Repartidor).
-Proveedores de servicios financieros (si es un Mensajero Conductor o Mensajero Repartidor).
-El propietario de MENSAJERO para Empresas o Perfil Familiar que use.
-Fuentes disponibles públicamente.
-Proveedores de servicio de publicidad.
- MENSAJERO puede combinar la información que recopile de estas fuentes con otra de la que disponga.

Cómo utilizamos su información

RESUMEN

MENSAJERO recopila y utiliza información para habilitar servicios de transporte y entregas fiables y cómodos, así como para ofrecer otros productos y servicios. También utilizamos la información que recopilamos con los siguientes propósitos:

-Para mejorar la seguridad y la protección de los usuarios y los servicios
-Para ofrecer servicios de atención al cliente
-Para realizar búsquedas y desarrollo
-Para comunicarnos con los usuarios o permitir que estos se comuniquen entre ellos
-Para ofrecer promociones o concursos
-Para temas relacionados con procedimientos legales

En MENSAJERO no compartimos ni vendemos su información personal a terceros para su uso en actividades de marketing directo de terceros.

MENSAJERO usa la información recopilada para los siguientes fines:

Brindar servicios y funciones

MENSAJERO usa la información recopilada para brindar, personalizar, mantener y mejorar nuestros productos y servicios. Esto incluye usar la información para lo siguiente:

-Crear y actualizar su cuenta.
-Verificar su identidad.
-Permitir servicios de transporte, entrega y otros. Incluye el procesamiento automatizado de su información para habilitar la Dynamic Pricing, la cual determina el precio de un viaje según diversos factores, como el tiempo y la distancia estimados de la ruta prevista, el tránsito esperado, y el número de usuarios y Mensajeros Conductores que usan la app de MENSAJERO en un momento determinado.
-Procesar o facilitar el pago de estos servicios.
-Ofrecer, obtener, proporcionar o facilitar soluciones de seguros y financieras relacionadas con nuestros servicios.
-Hacer un seguimiento del progreso del viaje o la entrega.
-Habilitar funciones que le permitan compartir información con otras personas, como cuando envía un reconocimiento sobre un Mensajero Conductor, refiere un amigo a MENSAJERO, usa la función División de tarifa o comparte su Llegada estimada.
-Habilitar funciones para personalizar su cuenta MENSAJERO, como crear marcadores para sus lugares favoritos, y permitir un acceso rápido a los destinos previos.
-Habilitar las funciones de Accessibility, las cuales facilitan el uso de nuestros servicios por parte de usuarios con discapacidades. Estas funciones permiten, por ejemplo, que los usuarios con discapacidad auditiva o dificultades para oír puedan informar a los usuarios sobre su situación, solo puedan recibir SMS por parte de estos y que la pantalla de su dispositivo emita destellos cuando reciban notificaciones de viaje, en lugar de sonar.Realizar operaciones internas necesarias para brindar nuestros servicios, lo que incluye solucionar errores de software y problemas operacionales, realizar análisis, pruebas e investigación, y hacer un seguimiento y análisis de las tendencias de uso y actividades.

Seguridad

Usamos sus datos para ayudar a mantener la seguridad e integridad de nuestros servicios y usuarios. Lo que incluye, por ejemplo, lo siguiente:

-Realizar un proceso de selección de los Mensajeros Conductores y Mensajeros Repartidores antes de permitirles el uso de nuestros servicios y, luego, de manera regular. Esto incluye verificaciones de antecedentes, si la ley lo permite, para prevenir que personas no seguras usen nuestros servicios.
-Usar la información de los dispositivos de los Mensajeros Conductores para identificar conductas poco seguras al volante, como exceso de velocidad o frenado y aceleración bruscos, y para concienciar a los Mensajeros Conductores sobre estas conductas.
-Nuestra función de verificación de identidad en tiempo real, la cual solicita a los Mensajeros Conductores que se tomen una selfie antes de conectarse, nos ayuda a asegurarnos de que la persona al volante sea la misma que se registró en la cuenta MENSAJERO a fin de prevenir fraude y de proteger a otros usuarios.
-Usar la información del dispositivo, ubicación, perfil, uso y demás, para prevenir, detectar y combatir el fraude o las conductas no seguras. Esto incluye el procesamiento de dicha información, en ciertos países, para identificar prácticas o patrones que indiquen fraude o impliquen un riesgo de seguridad. 
-Usar las calificaciones para fomentar una mejora entre los usuarios y como causa de desactivación para usuarios con calificaciones por debajo del mínimo, de acuerdo con los requisitos de su región. El cálculo y la desactivación pueden realizarse automáticamente a través un proceso automatizado de toma de decisiones. 

Soporte al cliente

MENSAJERO usa la información recopilada (incluidos los registros de sus llamadas a soporte al cliente. Esta asistencia incluye lo siguiente:

-Dirigir sus preguntas a la persona apropiada de soporte al cliente
-Investigar y abordar sus inquietudes
-Hacer un seguimiento y mejorar nuestras respuestas de soporte al cliente

Investigación y desarrollo

Podemos usar la información recopilada para realizar pruebas, investigación, análisis y desarrollo de productos. Esto nos permite mejorar e incrementar la seguridad de nuestros servicios, desarrollar funciones y productos nuevos, y facilitar las soluciones de seguro y financieras relacionadas con nuestros servicios.

Comunicación entre los usuarios

MENSAJERO usa la información recopilada para permitir las comunicaciones entre nuestros usuarios. Por ejemplo, un Mensajero Conductor puede llamar o enviar un SMS a un usuario para confirmar el punto de partida, o un Restaurante Socio o Mensajero Repartidor puede llamar al cliente para brindarle información sobre su pedido.

Comunicaciones desde MENSAJERO

-MENSAJERO puede usar la información recopilada para comunicarse con usted respecto a productos, servicios, promociones, estudios, encuestas, noticias, actualizaciones y eventos.

-MENSAJERO también puede usar la información para promover y procesar concursos y sorteos, entregar cualquier premio relacionado con ellos, así como presentarle anuncios y contenido relevantes sobre nuestros servicios y los de nuestros Socios comerciales. Puede recibir algunas de estas comunicaciones de acuerdo con su perfil como usuario de MENSAJERO.

Procedimientos y requisitos legales

Podemos usar la información recopilada para investigar o abordar reclamos o conflictos relacionados con el uso que usted hace de los servicios de MENSAJERO , o para cualquier otro aspecto permitido por la ley aplicable o dispuesto por organismos normativos, entidades gubernamentales e investigaciones oficiales.

Cookies y tecnologías de terceros

RESUMEN

MENSAJERO y sus socios utilizan cookies y otras tecnologías de identificación en las apps, los sitios web, los correos electrónicos y los anuncios en línea para los fines descritos en la presente política.

Las cookies son pequeños archivos de texto que los sitios web, apps, medios en línea y anuncios almacenan en el buscador o dispositivo. MENSAJERO usa cookies y tecnología similar para propósitos, como los siguientes:

-Autenticar usuarios
-Recordar las preferencias y configuraciones del usuario
-Determinar la popularidad del contenido
-Brindar y medir la efectividad de las campañas de publicidad
-Analizar el tránsito y las tendencias del sitio para comprender los comportamientos en línea y los intereses de las personas que interactúan con nuestros servicios También podemos permitir que terceros realicen mediciones de audiencia y servicios analíticos para nosotros, presenten anuncios en representación nuestra a través de internet, y realicen un seguimiento y nos informen sobre el rendimiento de estos anuncios. 
-Estas organizaciones pueden usar cookies, balizas web, SDK y otras tecnologías para identificar su dispositivo cuando visita nuestro sitio y usa nuestros servicios, así como cuando visita otros sitios y servicios en línea. Consulte nuestra Declaración sobre cookies para obtener más información acerca del uso de cookies y otras tecnologías descritas en esta sección, incluidas sus opciones respecto a dichas tecnologías.

Intercambio y divulgación de información

RESUMEN

Algunos de los productos, servicios y funciones de MENSAJERO puede compartir la información recopilada con los siguientes:

Otros usuarios

Por ejemplo, si usted es un usuario, podemos compartir su nombre, calificación promedio y punto de partida o destino con los Mensajeros Conductores. Si comparte un viaje MENSAJERO con otro usuario, a ese usuario se le puede mostrar su nombre, punto de partida y destino.

Si es un Mensajero Conductor o Mensajero Repartidor, compartimos su información con los usuarios, lo que incluye su nombre y foto, marca, modelo, color, matrícula y foto del vehículo, su ubicación, calificación promedio, número total de viajes, antigüedad como Socio Conductor de MENSAJERO y su información de contacto (de acuerdo con las leyes aplicables). Si completa un Perfil de Mensajero Conductor, también podemos compartir los datos asociados con este, incluyendo la información que ingresó y sus reconocimientos. El usuario/cliente también obtendrá un recibo detallado con información, como el desglose de los montos cobrados, su nombre y foto, y un mapa de la ruta que tomó.

A pedido

Esto incluye compartir su información con los siguientes:

Otras personas, a pedido. Por ejemplo, podemos compartir su Llegada estimada y ubicación con un amigo, a pedido, o la información de su viaje cuando divida la tarifa con un amigo.Socios comerciales de MENSAJERO . Por ejemplo, si solicita un servicio a través de una asociación u oferta promocional de un tercero, MENSAJERO puede compartir su información con estas partes. Esto incluye, por ejemplo, otras app o sitios web que se integren con nuestras API, proveedores de vehículos o servicios, aquellos con API o servicio a los cuales MENSAJERO se integre o Socios comerciales con los que MENSAJERO se puede asociar para brindar una promoción, un concurso o un servicio especializado.

El público en general cuando envía contenido a un foro público:

Nos encanta recibir comentarios de nuestros usuarios, incluso a través de foros públicos, como los blogs de MENSAJERO , redes sociales y ciertas funciones de nuestra red. Cuando se comunica con nosotros a través de estos canales, sus comunicaciones pueden hacerse públicas.

El propietario de cuentas MENSAJERO que pueda usar 
Si usted usa un perfil asociado con otra parte, podemos compartir información de su viaje con el propietario de ese perfil. Esto ocurre, por ejemplo, si usted es lo siguiente:

-Un usuario que usa el Perfil de Negocios de su empleador o toma viajes a través de MENSAJERO Central.
-Un Mensajero Conductor que usa una cuenta de una empresa de transporte asociada.
-Un usuario que toma un viaje pedido por un amigo o a través de un Perfil Familiar.

Afiliados y subsidiarias de MENSAJERO:

Compartimos información con nuestros afiliados y subsidiarias para brindar servicios o dirigir el procesamiento de datos en representación nuestra. Por ejemplo, MENSAJERO procesa y almacena información de Popayán.

Proveedores de servicios y Socios comerciales de MENSAJERO:

-MENSAJERO puede brindar información a sus proveedores, consultores, Socios de publicidad, entidades de investigación y otros proveedores de servicios o Socios comerciales. Entre estas partes se incluyen, por eemplo., las siguientes:

-Procesadores y facilitadores de pago.
-Proveedores de verificación de antecedentes (solo para Mensajeros Conductores y Mensajeros Repartidores).
-Proveedores de almacenamiento en la nube.-Socios de marketing y proveedores de plataformas de marketing.
-Proveedores de datos analíticos.

Con fines legales o ante un conflicto:

MENSAJERO puede compartir su información si considera que así lo requieren las leyes, normas, estatutos, procesos legales o solicitudes gubernamentales vigentes debido a asuntos de seguridad o similares.

Esto incluye compartir su información con fuerzas del orden público, autoridades gubernamentales, aeropuertos (si las autoridades aeroportuarias lo solicitan como condición para operar en la propiedad del aeropuerto) o terceros según sea necesario para hacer cumplir nuestros Términos del servicio, acuerdos de usuario u otras políticas, para proteger los derechos y propiedad de MENSAJERO, los derechos, seguridad y propiedad de otros, o en caso de reclamos o conflictos relacionados con el uso de nuestros servicios. Si usa la tarjeta de crédito de otra persona, es posible que las leyes nos exijan compartir la información con el titular de la tarjeta, incluida la información del viaje.

Esto también incluye compartir información:


-Socios de investigación, incluidos aquellos que realizan encuestas o proyectos de investigación en asociación con MENSAJERO o en su representación.
-Proveedores que asisten a MENSAJERO para mejorar la seguridad y protección de las apps.
-Consultores, abogados, contadores y otros proveedores de servicios profesionales.

Con su consentimiento:

MENSAJERO puede compartir su información para un uso distinto al descrito en la presente política si se lo notificamos y usted manifiesta su consentimiento.


Conservación y eliminación de la información:

RESUMEN

MENSAJERO conserva su perfil de usuario y otra información por el tiempo que mantenga su cuenta MENSAJERO.

MENSAJERO conserva información sobre sus transacciones, ubicación, uso y demás por 7 años debido a requisitos normativos, de impuestos, de seguro u otros, según el lugar en el que opere. Posteriormente, MENSAJERO elimina o anonimiza esta información de acuerdo con las leyes aplicables.

Los usuarios pueden solicitar la eliminación de sus cuentas en cualquier momento. Si lo hacen, MENSAJERO elimina la información que no sea necesario conservar, y restringe el uso y el acceso a la información requerida.

MENSAJERO requiere información de su perfil de usuario a fin de brindar sus servicios y conserva dichos datos por el tiempo que usted mantiene su cuenta MENSAJERO .

Esa información incluye datos sobre sus transacciones, ubicación, dispositivo y uso por 7 años debido a requisitos normativos, de impuestos, de seguro u otros, según el lugar donde opere. Cuando la información ya no es necesaria para brindar servicios a través de MENSAJERO , permitir el soporte al cliente, mejorar la experiencia del usuario u otros procesos operativos, MENSAJERO toma medidas a fin de prevenir el uso o el acceso a esta para cualquier propósito que no sea el cumplimiento de estos requisitos por seguridad, prevención y detección de fraude.

Puede solicitar la eliminación de su cuenta en cualquier momento enviando la solicitud al correo gerencia@mensjaeroapp.co .Si lo hace, MENSAJERO eliminará la información que no necesita. En ciertas circunstancias, es posible que MENSAJERO no pueda eliminar su cuenta, p. ej., si tiene montos o reclamos pendientes. Una vez que se resuelve el impedimento, MENSAJERO elimina su cuenta conforme a lo descrito anteriormente.

MENSAJERO también puede conservar cierta información, si fuera necesario, para satisfacer intereses comerciales legítimos, como la prevención de fraude y la mejora de la seguridad de los usuarios. Por ejemplo, si se cierra la cuenta de un usuario debido a una conducta peligrosa o a incidentes de seguridad, MENSAJERO puede conservar cierta información para prevenir que este usuario abra una nueva cuenta MENSAJERO en el futuro.

1. Derechos de los usuarios en la Popayan

Si usted es un usuario de MENSAJERO en popayan, tiene los siguientes derechos en lo relativo al manejo de su información personal por parte de MENSAJERO . Para ejercer estos derechos, consulte a continuación o envíe su solicitud.

Los usuarios fuera de Popayan pueden solicitar la explicación, corrección, eliminación o copia de sus datos personales.

a. Explicación y copias de sus datos

Tiene derecho a solicitar una explicación de la información que MENSAJERO tiene sobre usted y del uso que hace de esta.

b. Corrección

Si considera que la información que MENSAJERO tiene sobre usted es errónea, tiene derecho a solicitar la corrección pertinente. Consulte la sección Explicaciones, copias y correcciones a continuación para conocer más sobre el procedimiento para corregir o solicitar la corrección de su información.

c. Eliminación

Los usuarios pueden solicitar la eliminación de sus cuentas en cualquier momento. Para hacerlo, deben solicitar la eliminación de su cuenta enviando la solicitud al correo gerencia@mensjaeroapp.co 
</pre>
